.header.svelte-yqb34w{background-color:var(--color);height:20rem}img.svelte-yqb34w{height:20rem;width:100%;-o-object-fit:contain;object-fit:contain;-o-object-position:center center;object-position:center center}.card-gradient.svelte-yqb34w{background:linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0.8) 100%
		)}