.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Third-party, minified service worker
static/sw.js

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
